@tailwind base;
@tailwind components;
@tailwind utilities;



.layout {
  @apply max-w-screen-xl mx-auto px-4 w-full;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.animate-blink {
  animation: blink 1s step-start infinite;
}

.modal button {
  z-index: 99999;
  display: flex;
  visibility: visible;
}

